<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rotation.name %>
</p>

<p>
  <b>Users in this rotation:</b>
  <ol>
  <% @rotation.rotation_memberships.each do |membership| %>
    <li>
      <% user = membership.user %>
      <%= link_to user.name, user %> (<%= user.email %>)
      <% if user == current_user %>
        <%= link_to "Details", membership %>
      <% end %>
    </li>
  <% end %>
  </ol>
</p>


<% if permitted_to? :edit, @rotation %>
  <%= link_to 'Edit', edit_rotation_path(@rotation) %> |
<% end %>
<%= link_to 'Back', rotations_path %>
