<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rotation.name %>
</p>


<% if permitted_to? :edit, @rotation %>
  <%= link_to 'Edit', edit_rotation_path(@rotation) %> |
<% end %>
<%= link_to 'Back', rotations_path %>
