<h1>Alerting step details</h1>

<div>
  Rotation: <%= link_to @alerting_step.rotation_membership.rotation.name,
      @alerting_step.rotation_membership %>
</div>

<div>
  Delay: <%= @alerting_step.delay_minutes %> minutes
</div>

<div>
  Contact detail: <%= link_to @alerting_step.contact_detail.name,
      [:profile, @alerting_step.contact_detail] %>
</div>
