<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @escalation_policy.name %>
</p>


<% if permitted_to? :edit, @escalation_policy %>
  <%= link_to 'Edit', edit_escalation_policy_path(@escalation_policy) %> |
<% end %>
<%= link_to 'Back', escalation_policies_path %>
